{% extends "patients_register/base.html" %}

{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Virus Name</td>
            <td>Division</td>
            <td>District</td>
            <td>Suspect Date</td>
            <td>Patient Image</td>
            <td>
                <a href="{% url 'add-patient' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for patient in patient_list %}
            <tr>
                <td>{{ patient.full_name }}</td>
                <td>{{ patient.mobile }}</td>
                <td>{{ patient.virus_name }}</td>
                <td>{{ patient.division_name }}</td>
                <td>{{ patient.district_name }}</td>
                <td>{{ patient.suspect_date }}</td>
                <td>
                    {% if patient.patient_img %}
                        <img src="{{ patient.patient_img.url }}" width="70" height="60" alt="image">
                    {% endif %}
                    {#<img src="{{ patient.patient_img.url }}" alt="image" width="50" height="50">#}
                </td>
                <td>

                    <a href="{% url 'patient_update' patient.id %}" class="btn text-secondary px=0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>

                    <a href="{% url 'patient_delete' patient.id %}">
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
