{% extends "patients_register/base.html" %}

{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Age</td>
            <td>Father</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Virus Name</td>
            <td>Division</td>
            <td>District</td>
            <td>Suspect Date</td>
            <td>Patient Image</td>
            <td>
                <a href="{% url 'add-patient' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for patient in patient_list %}
            <tr>
                <td>{{ patient.full_name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.father_name }}</td>
                <td>{{ patient.mobile }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.virus_name }}</td>
                <td>{{ patient.division_name }}</td>
                <td>{{ patient.district_name }}</td>
                <td>{{ patient.suspect_date }}</td>
                <td>
                    {% if patient.patient_img %}
                        <img src="{{ patient.patient_img.url }}" width="70" height="60" alt="image">
                    {% endif %}
                </td>

                <td>
                    <a href="{% url 'patient_update' patient.id %}" class="btn text-secondary px=0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'patient_delete' patient.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{#    pagination#}
<div class="pagination">
    <span class="step-links">
        {% if patient_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ patient_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ patient_list.number }} of {{ patient_list.paginator.num_pages }}.
        </span>

        {% if patient_list.has_next %}
            <a href="?page={{ patient_list.next_page_number }}">next</a>
            <a href="?page={{ patient_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
